@use '@angular/material' as mat;

.header {
  background: #e1f5fe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  &_nav {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &_button {
    &.active {
      background-color: #039be5 !important;
      color: white !important;
    }
  }
}
