<div class="photos-container">
  @if (error()) {
  <div class="error-message">{{ error() }}</div>
  } @if (photos().length > 0) {
  <div class="photos-grid">
    @for (photo of photos(); track photo.id) {
    <mat-card class="photo-card" (click)="addToFavorites(photo)">
      <img mat-card-image [src]="photo.thumbnailUrl" [alt]="photo.id" />
    </mat-card>
    }
  </div>
  } @if (loading()) {
  <div class="loading">
    <mat-spinner diameter="60"></mat-spinner>
    <p>Loading...</p>
  </div>
  }
</div>
